<section class="hero">
    <div class="container hero__container">
        <div class="hero__top">
            <div class="hero__left"><h2 class="hero__title heading-h2">Everything you need to get the attention of your audience</h2>
                <p class="hero__descr">
                    Our digital agency helps clients develop, implement and maintain successful digital marketing
                    strategies
                    across all channels. Also work with you to build your website and create online businesses that
                    grow.
                </p></div>
            <img class="hero__img-white" src="/assets/image/decorElAboutw.png"
                 alt="Decor element on web site">
        </div>
        <div class="swiper hero__slider">
            <div class="swiper-wrapper hero__slider-wrapper">
                <div class="swiper-slide">
                    <img src="/assets/image/Photo.jpg" width="500">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/image/covferenc-about.png" width="500" height="300">
                    <div class="swiper__slide-content">
                        <h4 class="swiper__slide-content-title">What we believe in</h4>
                        <p class="swiper__slide-content-descr text-p-default">Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...</p>
                        <button class="swiper__slide-content-btn">See Details</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/assets/image/woomen-typin.png" width="506" height="400">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/image/Photo.jpg" width="500">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/image/covferenc-about.png" width="500" height="300">
                    <div class="swiper__slide-content">
                        <h4 class="swiper__slide-content-title">What we believe in</h4>
                        <p class="swiper__slide-content-descr text-p-default">Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...</p>
                        <button class="swiper__slide-content-btn">See Details</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/assets/image/woomen-typin.png" width="506" height="400">
                </div>
            </div>
        </div>
    </div>
</section>