<section class="active">
  <div class="container">
    <div class="active__top">
      <h2 class="active__top-title heading-h2">
        Activity & Updates
      </h2>
      <p class="active__top-descr">
        Our biggest challenge is making sure we're always designing and building products that will help you run your business better.
      </p>
    </div>
    <div class="active__tabs">
      <button data-tab="tab1" class="active__button activ">View all</button>
      <button data-tab="tab2" class="active__button">Design</button>
      <button data-tab="tab3" class="active__button">Articles</button>
      <button data-tab="tab4" class="active__button">Product</button>
      <button data-tab="tab5" class="active__button">Software Development</button>
      <button data-tab="tab6" class="active__button">Customer Success</button>
    </div>
  </div>
  <div class="active__container">
    <div class="active__tab-content">
      <div id="tab1" class="active__tab-pane">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog2.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="active__tab-pane hidden">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog2.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab3" class="active__tab-pane hidden">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab4" class="active__tab-pane hidden">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog2.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab5" class="active__tab-pane hidden">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab6" class="active__tab-pane hidden">
        <div class="swiper active__swiper">
          <div class="swiper-wrapper active__wrapper">
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog2.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/womenBlog3.jpg" alt="woman sitting at work place"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Overview of the Design Principles
                </h4>
                <p class="active__card-subtitle">
                  What are Design Principles?… To understand design principles, we first discuss the principles.
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/woomenBlog.jpg" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
            <div class="swiper-slide active__slide">
              <div class="active__card">
                <img class="active__card-img" src="/assets/image/covferenc-about.png" alt="Company clap five"
                     width="515" height="428">
                <p class="active__card-descr">
                  Published in Insight Jan 30, 2021
                </p>
                <h4 class="active__card-title">
                  Practice making User Flow
                </h4>
                <p class="active__card-subtitle">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>