<section class="cards">
  <div class="container cards__container">
    <ul class="cards__list">
      <li class="cards__item">
        <img class="cards__img" src="/assets/image/Rectangle%2034.png">
        <h3 class="cards__title">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="cards__descr">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </li>
      <li class="cards__item">
        <img class="cards__img" src="/assets/image/placeBlog.png">
        <h3 class="cards__title">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="cards__descr">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </li>
      <li class="cards__item">
        <img class="cards__img" src="/assets/image/placeBlog2.png">
        <h3 class="cards__title">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="cards__descr">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </li>
      <li class="cards__item">
        <img class="cards__img" src="/assets/image/blog.png">
        <h3 class="cards__title">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="cards__descr">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>