<section class="slider">
  <div class="container">
    <div class="slider__top">
      <div class="slider__content-top">
        <h3 class="slider__top-title heading-h3">
        Articles
      </h3>
        <p class="slider__top-descr">
          Complex tech decoded by engineers, business trends analyzed by experts.
        </p>
      </div>
    </div>
  </div>
  <div class="slider__container">
    <div class="swiper slider__swiper">
      <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__slide">
          <img src="/assets/image/slider1.png" alt="partners locking on PC">
          <h4 class="slider__title">List of UX Designer Portfolio / Case Studies where you can make money</h4>
          <p class="slider__descr">
            Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="slider__btn">Read More</button>
        </div>
        <div class="swiper-slide slider__slide">
          <img src="/assets/image/blog2.png" alt="partners locking on PC">
          <h4 class="slider__title">Skyrocketing in The Designing Career, Why Not?</h4>
          <p class="slider__descr">
            Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="slider__btn">Read More</button>
        </div>
        <div class="swiper-slide slider__slide">
          <img src="/assets/image/image3.png" alt="partners locking on PC">
          <h4 class="slider__title">Elements that may be missed when designing the UI</h4>
          <p class="slider__descr">
            Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="slider__btn">Read More</button>
        </div>
        <div class="swiper-slide slider__slide">
          <img src="/assets/image/slider1.png" alt="partners locking on PC">
          <h4 class="slider__title">List of UX Designer Portfolio / Case Studies where you can make money</h4>
          <p class="slider__descr">
            Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="slider__btn">Read More</button>
        </div>
      </div>
    </div>
    <div class="swiper__btns">
      <div class="swiper-button-next slider__btn-next">
        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.06321 0.663995C8.41469 0.312523 8.98453 0.312523 9.33601 0.663995L14.736 6.064C15.0875 6.41547 15.0875 6.98532 14.736 7.33679L9.33601 12.7368C8.98453 13.0883 8.41469 13.0883 8.06321 12.7368C7.71174 12.3853 7.71174 11.8155 8.06321 11.464L11.9268 7.60039L1.49961 7.60039C1.00255 7.60039 0.599609 7.19745 0.599609 6.70039C0.599609 6.20333 1.00255 5.80039 1.49961 5.80039L11.9268 5.80039L8.06321 1.93679C7.71174 1.58532 7.71174 1.01547 8.06321 0.663995Z"
                fill="#CED1D8"/>
        </svg>
      </div>
      <div class="swiper-button-prev slider__btn-prev">
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.73659 13.0364C7.38512 13.3879 6.81527 13.3879 6.4638 13.0364L1.0638 7.63644C0.712326 7.28497 0.712326 6.71512 1.0638 6.36365L6.4638 0.963652C6.81527 0.612179 7.38512 0.612179 7.73659 0.963652C8.08806 1.31512 8.08806 1.88497 7.73659 2.23644L3.87299 6.10005L14.3002 6.10005C14.7973 6.10005 15.2002 6.50299 15.2002 7.00005C15.2002 7.4971 14.7973 7.90005 14.3002 7.90005L3.87299 7.90005L7.73659 11.7637C8.08806 12.1151 8.08806 12.685 7.73659 13.0364Z"
                fill="#CED1D8"/>
        </svg>
      </div>
    </div>

  </div>
</section>