<section class="partners">
    <div class="container partners__container">
        <h2 class="partners__title text-p-medium">
            <span class="partners__title-num">890+</span> <br>
            some big companies that we work with, and trust us very much
        </h2>
        <ul class="partners__list">
            <li class="partners__item">
                <img src="/assets/icons/partners/airbnb-logo-icon.svg" alt="Airbnb">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/amazon-logo-icon.svg" alt="Amazon">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/fedex-logo-icon.svg" alt="Fedex">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/google-logo-icon.svg" alt="Google">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/microsoft-logo-icon.svg" alt="Microsoft">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/ola-logo-icon.svg" alt="Ola">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/oyo-logo-icon.svg" alt="Oyo">
            </li>
            <li class="partners__item">
                <img src="/assets/icons/partners/walmart-logo-icon.svg" alt="Walmart">
            </li>
        </ul>
        <div class="swiper partners__slider">
            <div class="swiper-wrapper partners__slider-wrapper">
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/airbnb-logo-icon.svg" alt="Airbnb"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/amazon-logo-icon.svg" alt="Amazon"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/fedex-logo-icon.svg" alt="Fedex"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/google-logo-icon.svg" alt="Google"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/microsoft-logo-icon.svg" alt="Microsoft"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/ola-logo-icon.svg" alt="Ola"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/oyo-logo-icon.svg" alt="Oyo"></div>
                <div class="swiper-slide partners__slider-slide"><img src="/assets/icons/partners/walmart-logo-icon.svg" alt="Walmart"></div>
            </div>
        </div>
    </div>
</section>