.hero {
  overflow-x: hidden;
  padding-top: 80px;

  &__container {
    @include flex-justify-between;
    position: relative;
    align-items: flex-end;

    &::before {
      content: '';
      position: absolute;
      z-index: var(--z-index-0);
      top: -50px;
      left: -80px;
      display: inline-block;
      border-radius: 50%;
      width: 551px;
      height: 551px;
      background: #fa7515;
      opacity: 0.2;
      filter: blur(200px);
    }

    &::after {
      bottom: -150px;
      right: -400px;
      width: 551px;
      height: 551px;
      content: '';
      position: absolute;
      display: inline-block;
      z-index: var(--z-index-0);
      border-radius: 50%;
      background: #E2F8F0B2;
      filter: blur(180px);
    }
  }

  &__title {
    margin-bottom: 124px;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
    width: 740px;
  }

  &__subtitle {
    margin-bottom: 69px;
    width: 550px;
  }

  &__form {
    display: flex;
    gap: 16px;
  }

  &__inp {
    font-weight: 400;
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-color-100);
    border-bottom: 1px solid #ced1d8;
    background-color: transparent;
    min-width: 280px;
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);
  }

  &__right {
    position: relative;
  }

  &__sales {
    box-shadow: 20px 40px 80px 0 rgba(89, 96, 135, 0.12);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;


    &-title{
      margin-bottom: 16px;
      color: #1D1E25;
      font-weight: 700;
    }
  }

  &__customer {
    position: absolute;
    top: -50px;
    right: -140px;
    display: inline-block;
    padding: 15px 18px;
    box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
    background: #fff;
    border-radius: 8px;

    &-title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: -0.03em;
      color: #1D1E25;
    }
  }

  &__stats {
    padding: 20px 29px;
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
    background: #000;
    text-align: left;


    &-head {
      &-th {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #5c616f;

        &-1 {
          padding-right: 180px;
          color: #5c616f;
        }

        &-price {
          font-weight: 700;
          font-size: 20px;
          line-height: 130%;
          color: #fff;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: -0.04em;
        color: #5c616e;
      }


      &-num {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        margin-right: 6px;

        &--green {
          color: #60d39c;


          &::before {
            content: "";
            display: inline-block;
            background: url('https://img.icons8.com/?size=100&id=87724&format=png&color=40C057');

          }

        }

        &--red {
          color: #e35454
        }
      }
    }
  }
}
