.hero {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 87px;
  padding-bottom: 35px;

  @include mini-desktop {
    padding: 77px 0 121px;
  }

  &__container {
    @include flex-justify-center;
    position: relative;
    align-items: flex-end;
    gap: 15px;
    flex-wrap: wrap;

    @include small-desktop {
      gap: 0;
    }

    @include mini-desktop {
      gap: 50px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include mobile {
      max-width: 480px;
    }


  }

  .hero__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include small-mobile {
      display: block;
    }
  }

  &__title {
    margin-bottom: 124px;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
    width: 593px;

    @include mini-desktop {
      text-align: center;
      margin-bottom: 74px;
    }

    @include tablet {
      font-size: 60px;
      margin-bottom: 44px;
    }

    @include small-tablet {
      font-size: 48px;
      margin-bottom: 38px;
      width: 450px;
    }

    @include mobile {
      font-size: 40px;
      width: 400px;
    }

    @include small-mobile {
      text-align: left;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
    width: 550px;

    @include small-tablet {
      width: 450px;
      text-align: center;
    }

    @include mobile {
      width: 300px;
      text-align: center;
    }

    @include small-mobile {
      text-align: left;
    }
  }

  &__form {
    display: flex;
    gap: 16px;

    @include mini-desktop {
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__inp {
    font-weight: 400;
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-color-100);
    border-bottom: 1px solid #ced1d8;
    background-color: transparent;
    min-width: 280px;

    @include small-tablet {
      padding-bottom: 13px;
    }

    @include small-tablet {
      min-width: 80px;
    }

    @include small-mobile {
      max-width: 275px;
      min-width: 80px;
    }
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include small-tablet {
      padding: 12px 32px;
    }

    @include mobile {
      width: 280px;
      font-size: 14px;
    }
  }

  &__right {
    position: relative;
    margin-right: 12px;

    @include small-tablet {
      display: none;
    }
  }

  &__sales {
    box-shadow: 20px 40px 80px 0 rgba(89, 96, 135, 0.12);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;

    @include small-desktop {
      &-img {
        max-width: 380px;
      }
    }

    &-title {
      margin-bottom: 16px;
      color: #1d1e25;
      font-weight: 700;
    }
  }

  &__customer {
    position: absolute;
    top: -50px;
    right: -140px;
    display: inline-block;
    padding: 15px 18px;
    box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
    background: #fff;
    border-radius: 8px;

    @include small-desktop {
      top: -60px;
      right: -30px;
    }

    @include mini-desktop {
      top: 0;
      right: -100px;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: -0.03em;
      color: #1d1e25;
    }
  }

  &__stats {
    padding: 20px 29px;
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
    background: #000;
    text-align: left;

    &-head {
      &-th {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #5c616f;

        &-1 {
          padding-right: 180px;
          color: #5c616f;
        }

        &-price {
          font-weight: 700;
          font-size: 20px;
          line-height: 130%;
          color: #fff;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: -0.04em;
        color: #5c616e;
      }

      &-num {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        margin-right: 6px;

        &--green {
          color: #60d39c;
        }

        &--red {
          color: #e35454;
        }
      }
    }
  }
}
