<section class="features">
    <div class="container features__container">
        <div class="features__left">
            <img loading="lazy" src="/assets/image/features-img.jpg" width="585" height="651"
                 alt="Woman typing on laptop">
            <div class="features__stats">
                <div class="features__stats-head">
                    <h3 class="features__stats-title">Statictic</h3>
                    <svg class="features__stats-decr" width="18" height="19" viewBox="0 0 18 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.66822 8.03015C2.86672 8.03015 2.21094 8.68593 2.21094 9.48744C2.21094 10.2889 2.86672 10.9447 3.66822 10.9447C4.46973 10.9447 5.12551 10.2889 5.12551 9.48744C5.12551 8.68593 4.46973 8.03015 3.66822 8.03015Z"
                              fill="#7E8492"/>
                        <path d="M13.8694 8.03015C13.0679 8.03015 12.4121 8.68593 12.4121 9.48744C12.4121 10.2889 13.0679 10.9447 13.8694 10.9447C14.6709 10.9447 15.3267 10.2889 15.3267 9.48744C15.3267 8.68593 14.6709 8.03015 13.8694 8.03015Z"
                              fill="#7E8492"/>
                        <path d="M8.76881 8.03015C7.9673 8.03015 7.31152 8.68593 7.31152 9.48744C7.31152 10.2889 7.9673 10.9447 8.76881 10.9447C9.57032 10.9447 10.2261 10.2889 10.2261 9.48744C10.2261 8.68593 9.57032 8.03015 8.76881 8.03015Z"
                              fill="#7E8492"/>
                    </svg>
                </div>
                <div class="features__stats-item">
                    <svg class="features__icon-item" width="95" height="88" viewBox="0 0 95 88" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.487305" y="0.477386" width="8.67429" height="87.0145" rx="4.33715" fill="white"/>
                        <rect x="0.487305" y="48.0063" width="8.67429" height="39.4856" rx="4.33715" fill="#1463FF"/>
                        <rect x="21.9326" y="0.477234" width="8.67429" height="87.0145" rx="4.33715" fill="white"/>
                        <rect x="21.9326" y="32.6505" width="8.67429" height="54.8411" rx="4.33715" fill="#1463FF"/>
                        <rect x="43.3779" y="0.477234" width="8.67429" height="87.0145" rx="4.33715" fill="white"/>
                        <rect x="43.3779" y="40.6941" width="8.67429" height="46.7977" rx="4.33715" fill="#1463FF"/>
                        <rect x="64.8223" y="0.477081" width="8.67429" height="87.0145" rx="4.33715" fill="white"/>
                        <rect x="64.8223" y="22.4139" width="8.67429" height="65.0781" rx="4.33715" fill="#1463FF"/>
                        <rect x="86.2695" y="0.477081" width="8.67429" height="87.0145" rx="4.33715" fill="white"/>
                        <rect x="86.2695" y="9.2514" width="8.67429" height="78.2399" rx="4.33715" fill="#1463FF"/>
                    </svg>
                    <div class="features__stats-item-info">
                    <h5 class="features__stats-item-title">
                        Total Income
                    </h5>
                    <div class="features__stats-item-price">
                        <span class="features__stats-item-price-num">$7.020</span>
                        <span class="features__stats-item-price-proc">
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 5.7072C9.31658 6.09772 8.68342 6.09772 8.29289 5.7072L5 2.41431L1.70711 5.7072C1.31658 6.09772 0.683417 6.09772 0.292894 5.7072C-0.0976312 5.31667 -0.0976312 4.68351 0.292894 4.29298L4.29289 0.292985C4.68342 -0.0975396 5.31658 -0.0975395 5.70711 0.292985L9.70711 4.29299C10.0976 4.68351 10.0976 5.31667 9.70711 5.7072Z" fill="#50CD89"/>
                            </svg>
                            15%</span>
                    </div>
                    <p class="features__stats-item-descr">Your Income of this month compared to last month</p>
                </div>
                </div>
                <div class="features__stats-item">
                    <svg width="95" height="88" viewBox="0 0 95 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.488281" y="0.0889893" width="8.6743" height="87.4224" rx="4.33715" fill="white" />
                        <rect x="0.488281" y="32.5599" width="8.6743" height="54.9512" rx="4.33715" fill="#1463FF" />
                        <rect x="21.9336" y="0.0889893" width="8.6743" height="87.4369" rx="4.33715" fill="white" />
                        <rect x="21.9336" y="22.1319" width="8.6743" height="65.394" rx="4.33715" fill="#1463FF" />
                        <rect x="43.3779" y="0.0889893" width="8.6743" height="87.4369" rx="4.33715" fill="white" />
                        <rect x="43.3779" y="38.2965" width="8.6743" height="49.2292" rx="4.33715" fill="#1463FF" />
                        <rect x="64.8232" y="0.0889893" width="8.6743" height="87.4369" rx="4.33715" fill="white" />
                        <rect x="64.8232" y="47.1135" width="8.6743" height="40.412" rx="4.33715" fill="#1463FF" />
                        <rect x="86.2705" y="0.0889893" width="8.67426" height="87.4369" rx="4.33713" fill="white" />
                        <rect x="86.2705" y="55.9312" width="8.67426" height="31.5948" rx="4.33713" fill="#1463FF" />
                    </svg>
                    <div class="features__stats-item-info">
                        <h5 class="features__stats-item-title">
                        Total Expense
                    </h5>
                        <div class="features__stats-item-price">
                            <span class="features__stats-item-price-num">$2.150</span>
                            <span class="features__stats-item-price-proc">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M5.29289 7.29302C5.68342 6.90249 6.31658 6.90249 6.70711 7.29302L10 10.5859L13.2929 7.29302C13.6834 6.90249 14.3166 6.90249 14.7071 7.29302C15.0976 7.68354 15.0976 8.3167 14.7071 8.70723L10.7071 12.7072C10.3166 13.0978 9.68342 13.0978 9.29289 12.7072L5.29289 8.70723C4.90237 8.3167 4.90237 7.68354 5.29289 7.29302Z"
                                  fill="#EB5757"/>
                      </svg>
                            10%</span>
                        </div>
                        <p class="features__stats-item-descr">Your <span class="features__stats-item-descr-sp">Expanse</span> of this month compared to last month</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__right">
            <h2 class="features__title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <p class="features__desr">Automate your sales, marketing and service in one platform. Avoid date leaks and enable consistent messaging</p>
            <ul class="features__list">
                <li class="features__item">
                    <svg class="features__svg" width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#46B277" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Close more deals with single - page contact managment
                </li>
                <li class="features__item">
                    <svg class="features__svg" width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#46B277" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Enjoy one-click calling, call scripts and voicemail automation
                </li>
                <li class="features__item">
                    <svg class="features__svg" width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L9 12L13 8M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#46B277" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Take stages and milestones of your deals to keep the sales process an track
                </li>
            </ul>
        </div>
    </div>
</section>