<section class="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__head">
            <h2 class="testimonials__title heading-h2">What our customer are saying</h2>
            <p class="testimonials__descr text-p-medium">We are trusted numerous companies from different business to meet their needs</p>
        </div>
        <div class="swiper testimonials__slider">
            <div class="swiper-wrapper testimonials__comments">
                <div class="swiper-slide testimonials__comment">
                    <div class="testimonials__rating text-p-default">
                        <img loading="lazy" src="/assets/icons/rating-icon.svg">
                        <span class="testimonials__rating-num text-p-default">5.0</span>
                    </div>
                    <p class="testimonials__comment-text heading-h3">
                        “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes a surge of visitors on my website”
                    </p>
                    <address class="testimonials__comment-author">
                        <img loading="lazy" class="testimonials__comment-author-avatar" src="/assets/image/comment-author-1.jpg" width="56" height="56">
                        <div class="testimonials__comment-author-info">
                            <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                            <p class="testimonials__comment-author-professions text-p-default">Product Designer, Quotient</p>
                        </div>
                    </address>
                </div>
                <div class="swiper-slide testimonials__comment">
                    <div class="testimonials__rating text-p-default">
                        <img loading="lazy" src="/assets/icons/rating-icon.svg">
                        <span class="testimonials__rating-num text-p-default">5.0</span>
                    </div>
                    <p class="testimonials__comment-text heading-h3">
                        “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes a surge of visitors on my website”
                    </p>
                    <address class="testimonials__comment-author">
                        <img loading="lazy" class="testimonials__comment-author-avatar" src="/assets/image/comment-author-1.jpg" width="56" height="56">
                        <div class="testimonials__comment-author-info">
                            <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                            <p class="testimonials__comment-author-professions text-p-default">Product Designer, Quotient</p>
                        </div>
                    </address>
                </div>
                <div class="swiper-slide testimonials__comment">
                    <div class="testimonials__rating text-p-default">
                        <img loading="lazy" src="/assets/icons/rating-icon.svg">
                        <span class="testimonials__rating-num text-p-default">5.0</span>
                    </div>
                    <p class="testimonials__comment-text heading-h3">
                        “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes a surge of visitors on my website”
                    </p>
                    <address class="testimonials__comment-author">
                        <img loading="lazy" class="testimonials__comment-author-avatar" src="/assets/image/comment-author-1.jpg" width="56" height="56">
                        <div class="testimonials__comment-author-info">
                            <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                            <p class="testimonials__comment-author-professions text-p-default">Product Designer, Quotient</p>
                        </div>
                    </address>
                </div>
            </div>
            <div class="swiper-pagination"></div>


        </div>
        <div class="testimonials__btns">
            <button class="swiper-button-prev testimonials__btn--prev">
                <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M8.06321 0.663995C8.41469 0.312523 8.98453 0.312523 9.33601 0.663995L14.736 6.064C15.0875 6.41547 15.0875 6.98532 14.736 7.33679L9.33601 12.7368C8.98453 13.0883 8.41469 13.0883 8.06321 12.7368C7.71174 12.3853 7.71174 11.8155 8.06321 11.464L11.9268 7.60039L1.49961 7.60039C1.00255 7.60039 0.599609 7.19745 0.599609 6.70039C0.599609 6.20333 1.00255 5.80039 1.49961 5.80039L11.9268 5.80039L8.06321 1.93679C7.71174 1.58532 7.71174 1.01547 8.06321 0.663995Z"
                          fill="#CED1D8"/>
                </svg>
            </button>
            <button class="swiper-button-next testimonials__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M7.73659 13.0364C7.38512 13.3879 6.81527 13.3879 6.4638 13.0364L1.0638 7.63644C0.712326 7.28497 0.712326 6.71512 1.0638 6.36365L6.4638 0.963652C6.81527 0.612179 7.38512 0.612179 7.73659 0.963652C8.08806 1.31512 8.08806 1.88497 7.73659 2.23644L3.87299 6.10005L14.3002 6.10005C14.7973 6.10005 15.2002 6.50299 15.2002 7.00005C15.2002 7.4971 14.7973 7.90005 14.3002 7.90005L3.87299 7.90005L7.73659 11.7637C8.08806 12.1151 8.08806 12.685 7.73659 13.0364Z"
                          fill="#CED1D8"/>
                </svg>
            </button>
        </div>
    </div>
</section>